@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-action="Login">
    <table border="1">
        <tr>
            <td> UserName:</td>
            <td><input type="text" name="uname"/>  </td>
        </tr>
        <tr>
            <td> Password:</td>
            <td><input type="password" name="pwd" />  </td>
        </tr>
        <tr>
            <td><input type="submit" value="Enter"/></td>
            
        </tr>
    </table>
</form>