@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <h1> Welcome @ViewBag.UserName</h1>
    <h1> My New Training </h1>
    <h1> My fruit is  @ViewBag.Fruit </h1>
    <h1> TempData Fruit is @TempData["Fruit"]</h1>

</div>
